/* Stylesheet */

/* Set background colour */
body{
  background-color: rgb(114, 255, 79);
  color: rgb(255, 0, 60);
}

/* Set margins to 0 */
*{
  padding: 0px;
  margin: 0px;
}


h2{
  margin: 20px 0 20px 30px;
}
h2:hover{
  margin: 20px 30px 20px 200px;
}

p{
  font-family: comic, helvetica, sans-serif;
  margin-top: 7px;
  margin-bottom: 20px;
}
p:hover{
  text-decoration: line-through;
  margin-top: 50px;
}

ul{
  margin:2px 50px 2px 50px;
  list-style-type: square;
  text-align: right;
}

/* Formatting links */
a{
  color: rgb(255, 0, 255);
  text-decoration: underline;
  margin: 20px 0 50px 0;
}
a:hover
{
  text-decoration: none;
  margin-left: 50px;
}


/* banner formatting */
.banner{
  text-align: center;
  background-color: rgb(255, 0, 60);
  color: rgb(114, 255, 79);
  font-family: times, calibri, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;

  /* Make sticky */
  position: sticky;
  top: 20px;


}
.banner:hover{
  background-color: rgb(114, 255, 79);
}

/* content formatting */
.content-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sidebar{
  margin: 0px 20px 0px 10px;
}

.content{
}


/* All header content for location pages */
.header-content{
  text-align: center;
}
.header-content > h2{
  background-color: rgb(255, 0, 60);
  color: rgb(114, 255, 79);
}

/* card formatting */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
}
.card{
  border: 5px solid rgb(50, 50, 50);
  border-radius: 50px;
  margin: 0px 10px 20px 10px;
  overflow: hidden;
}
.card > p{
  margin: 0px 10px 20px 10px;
}
.card > img{
  max-width: 100%;
  height: auto;
}
