/* Stylesheet */


/* Set margins to 0 */
*{
  padding: 0px;
  margin: 0px;
}


/* Set background colour */
body{
  background-color: rgb(114, 255, 79);
  color: rgb(255, 0, 60);
}

h1{
  background-color: rgb(255, 0, 60);
  color: rgb(114, 255, 79);
  font-family: times, calibri, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
}
h1:hover{
  background-color: rgb(114, 255, 79);
}

h2{
  margin: 20px 0 20px 30px;
}
h2:hover{
  margin: 20px 30px 20px 200px;
}

p{
  font-family: comic, helvetica, sans-serif;
  margin-top: 7px;
  margin-bottom: 20px;
}
p:hover{
  text-decoration: line-through;
  margin-top: 50px;
}

ul{
  margin:2px 2px 2px 700px;
  list-style-type: square;
}

/* Formatting links */
a{
  color: rgb(255, 0, 255);
  text-decoration: underline;
  margin: 20px 0 50px 0;
}
a:hover
{
  text-decoration: none;
  margin-left: 50px;
}
